@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;

  --primary: #2c2c2c;
  --secondary: #000000;
  --card-background: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-card-background: var(--card-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080a0c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar styling */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Slightly lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}
